<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minha NASA minha vida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Minha NASA minha vida</h1>
        
        <a href="/selecao">
            <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo do Jogo" class="logo">
        </a>
        
        <p>Clique no logo para iniciar sua missão</p>
    </div>
</body>
</html>